.case-banner {
    height: auto;
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
}

h2 {
    font-size: 24px;
}

.case-study-container {
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-container {
    width: 70%;
    max-width: 1000px;
}

@media screen and (max-width: 700px) {
    .case-banner {
        height: 400px;
    }
}

.summary {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    border-left: 6px solid #3a3a3a;
}

.quote {
    width: 80%;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-start;
}

.quote-bubble {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-right: 24px;
}

.quote-text {
    vertical-align: top;
    display: inline;
    min-width: 200px;
    max-width: 500px;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.author {
    text-align: right;
    font-size: 12px;
    font-style: italic;
}

.quote-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .quote {
        width: 100%;
        margin-left: 24px;
        margin-right: 24px;
    }
    .quote-bubble {
        margin-right: 16px;
    }
    .quote-text {
        animation: none;
    }
}

.full-width-image {
    object-fit: contain;
    width: 100%;
    height: auto;
}