body {
    background-color: w#ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #3A3A3A;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: 700;
}

.m-16 {
    margin-bottom: 16px;
}

.m-32 {
    margin-bottom: 32px;
}

.body-style {
    min-width: 400px;
    margin: 0px;
}

.sh-font {
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: 700;
}

.header-title {
    display: inline;
    margin-left: 32px;
    vertical-align: top;
}


/* Add a black background color to the top navigation */

.topnav {
    overflow: hidden;
    padding: 48px;
    vertical-align: bottom;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    display: block;
    color: #595959;
    text-align: center;
    /* top padding to make it vertical aligned.  */
    padding-top: 8px;
    padding-bottom: 4px;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: #3A3A3A;
}


/* Add an active class to highlight the current page */

.topnav .current-page {
    color: #3A3A3A;
    border-bottom: 6px solid #3a3a3a;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 700px) {
    .header-title {
        display: none;
    }
    .topnav a {
        display: none;
        margin: 32px;
        padding: 0px;
    }
    .topnav a.icon {
        float: left;
        display: block;
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    .topnav {
        text-align: center;
        padding: 24px;
    }
    .logo {
        display: inline;
    }
    .topnav .current-page {
        border-bottom: none;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        float: left;
        position: absolute;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

.body-align {
    display: flex;
    justify-content: center;
}

.body-spacing-48 {
    padding-top: 48px;
}

.tagline {
    width: 60%;
    display: flex;
    justify-content: center;
    height: auto;
}

@media screen and (max-width: 700px) {
    .tagline {
        width: 100%;
        margin-left: 24px;
        margin-right: 24px;
    }
    .tagline-bubble {
        margin-right: 16px;
    }
}

.tagline-bubble {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-right: 24px;
}

.tagline-text {
    vertical-align: top;
    display: inline;
    min-width: 200px;
    max-width: 500px;
}

.body-spacing-120 {
    padding-top: 120px;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-thumbnail {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding: 32px;
    border: 6px solid #685162;
    margin-bottom: 48px;
    margin-right: 48px;
}

.page-title {
    margin-bottom: 48px;
    margin-top: 80px;
}

.work-spacing {
    width: 80%;
    max-width: 1800px;
    margin-right: -48px;
}

.about-gutter {
    width: 80%;
    max-width: 1400px;
}

@media screen and (max-width: 700px) {
    .work-spacing {
        width: 100%;
        margin-right: 0px;
    }
    .work-thumbnail {
        margin-right: 0px;
    }
    .work-gallery {
        justify-content: center;
    }
    .responsive-gutter {
        margin-left: 32px;
        margin-right: 32px;
    }
    .page-title {
        text-align: center;
        margin-top: 48px;
    }
}

.about-banner {
    height: 288px;
    width: auto;
    background-image: url(aboutBanner.svg);
    object-fit: cover;
    background-repeat: repeat-x;
}

.about-body {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .about-banner {
        background-repeat: no-repeat;
        background-image: url(aboutBannerMobile.svg);
        height: 312px;
        width: 312px;
    }
    .about-banner-container {
        display: flex;
        justify-content: center;
    }
}

.about-link {
    display: block;
    color: #3a3a3a;
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer {
    height: 150px;
}