@font-face {
    font-family: 'Avenir';
    src: URL('/Avenir/AvenirLTStd-Book.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir';
    src: URL('/Avenir/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Avenir';
    src: URL('/Avenir/AEH.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Avenir';
    src: URL('/Avenir/AvenirLTStd-Roman.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Avenir';
    src: URL('/Avenir/AvenirLTStd-Black.otf') format('opentype');
    font-weight: bolder;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'Avenir';
    color: #3A3A3A;
}

p {
    font-size: 20px;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-family: 'Lora', serif;
    font-weight: 700;
}

.no-underline {
    text-decoration: none;
}

.m-16 {
    margin-bottom: 16px;
}

.m-32 {
    margin-bottom: 32px;
}

.body-style {
    min-width: 370px;
    margin: 0px;
}

.sh-font {
    font-size: 18px;
    font-family: 'Avenir';
    font-weight: 500;
}

.header-title {
    display: inline;
    margin-left: 32px;
    vertical-align: top;
}

.topnav {
    overflow: hidden;
    padding: 48px;
    vertical-align: bottom;
}


/* NAVIGATION BAR STYLING */

.topnav a.nav-link {
    float: right;
    display: block;
    color: #818181;
    text-align: center;
    /* top padding to make it vertical aligned.  */
    padding-top: 8px;
    padding-bottom: 4px;
    margin-right: 24px;
    margin-left: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.home-link {
    color: #3A3A3A;
    text-decoration: none;
}

.topnav a:hover.nav-link {
    color: #3a3a3a;
}

.topnav .current-page {
    color: #3a3a3a !important;
    font-weight: bolder;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .header-title {
        display: none;
    }
    .topnav a.nav-link {
        display: none;
        margin: 40px;
        padding: 0px;
    }
    .topnav a.icon {
        float: left;
        display: block;
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    .topnav {
        text-align: center;
        padding: 24px;
    }
    .logo {
        display: inline;
    }
    .topnav .current-page {
        border-bottom: none;
    }
    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        float: left;
        position: absolute;
    }
    .topnav.responsive a.nav-link {
        float: none;
        display: block;
        text-align: center;
    }
}

.body-align {
    display: flex;
    justify-content: center;
}

.body-spacing-48 {
    padding-top: 48px;
}

.column-flex {
    flex-direction: column;
}


/* TAGLINE */

.tagline {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.tagline-bubble {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 32px;
    display: inline-block;
    animation: header 2.5s 1;
}

.tagline-text {
    vertical-align: top;
    display: inline;
    font-size: 28px;
    min-width: 200px;
    max-width: 800px;
    animation: fadein 2.5s 1;
    font-family: 'Avenir';
    font-weight: normal;
    color: #3A3A3A;
}

@media screen and (max-width: 700px) {
    .tagline {
        width: 100%;
        margin-left: 24px;
        margin-right: 24px;
        flex-wrap: wrap;
    }
    .tagline-bubble {
        display: none;
        animation: none;
    }
    .tagline-text {
        animation: none;
        font-size: 18px;
        text-align: center;
    }
}

.body-spacing-100-48 {
    padding-top: 100px;
}

@media screen and (max-width: 700px) {
    .body-spacing-100-48 {
        padding-top: 48px;
    }
}

.mb {
    margin-bottom: 400px;
}

.down-arrow {
    display: block;
    animation: fadein 4s 1, bounce 1s 4;
}

.work-grid {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    row-gap: 100px;
    column-gap: 0px;
    align-items: center;
}

.work-image {
    height: auto;
    width: 400px;
}

.work-header-text {
    margin-top: 48px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
    color: #818181;
    text-decoration: none;
    animation: fadein 4s 1;
}

.work-tags {
    font-family: Avenir;
    font-size: 20px;
    font-weight: normal;
    color: #818181;
}

.work-title {
    font-family: Avenir;
    font-size: 48px;
    font-weight: bolder;
    display: inline;
    margin-right: 20px;
    color: #3a3a3a;
}

.work-item {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.work-thumbnail {
    width: 245px;
    height: auto;
    object-fit: contain;
    padding: 32px;
    border: 6px solid #685162;
    margin-bottom: 48px;
    margin-right: 48px;
}

.page-title {
    margin-bottom: 48px;
    margin-top: 80px;
}

.slide-left {
    animation: slide-left 4s 1;
}

.fade-slide {
    animation: fade-slide 2s 1;
}

.work-spacing {
    width: 90%;
    max-width: 1107px;
    margin-right: -48px;
    animation: fadein 4s 1;
}

.about-gutter {
    width: 80%;
    max-width: 900px;
}

@media screen and (max-width: 700px) {
    .work-spacing {
        width: 100%;
        margin-right: 0px;
        animation: none;
    }
    .slide-left {
        animation: none;
    }
    .fade-slide {
        animation: none;
    }
    .work-thumbnail {
        margin-right: 0px;
        padding: px;
    }
    .responsive-gutter {
        margin-left: 16px;
        margin-right: 16px;
    }
    .responsive-gutter-32 {
        margin-left: 32px;
        margin-right: 32px;
    }
    .page-title {
        text-align: center;
        margin-top: 48px;
    }
    .about-gutter {
        width: 100%;
    }
    .work-header-text {
        color: #3a3a3a;
        font-size: 24px;
        font-weight: bolder;
        animation: none;
    }
    .down-arrow {
        display: none;
    }
    .right-arrow {
        display: none;
    }
    .work-image {
        display: none;
    }
    .work-grid {
        grid-template-columns: 1fr;
        row-gap: 48px;
        column-gap: 0px;
        justify-items: center;
    }
    .work-title {
        font-size: 32px;
    }
    .work-tags {
        font-size: 14px;
    }
}

.about-banner {
    height: 240px;
    width: 100%;
    object-fit: cover;
    background-repeat: repeat-x;
    position: absolute;
}

.abg1 {
    background-image: url(../banner1.svg);
    animation: f0 1s 1;
}

.abg2 {
    background-image: url(../banner2.svg);
    animation: f5 1s 1;
}

.abg3 {
    background-image: url(../banner3.svg);
    animation: f2 1s 1;
}

.abg4 {
    background-image: url(../banner4.svg);
    animation: f3 1s 1;
}

.abg5 {
    background-image: url(../banner5.svg);
    animation: f4 1s 1;
}

.abg6 {
    background-image: url(../banner6.svg);
    animation: f1 1s 1;
}

.about-body {
    display: flex;
    justify-content: center;
    margin-top: 240px;
}

.about-banner-container {
    position: relative;
}

.about-banner-mobile {
    display: none;
}

.about-two-col {
    display: flex;
    align-items: flex-start;
}

.about-photo {
    width: 35%;
    margin-left: 96px;
}

.no-top-margin {
    margin-top: 0px;
}

@media screen and (max-width: 700px) {
    .about-body {
        margin-top: 0px;
    }
    .about-banner {
        display: none;
    }
    .about-banner-mobile {
        display: block;
        object-fit: cover;
        background-repeat: no-repeat;
        background-image: url(../aboutBannerMobile.svg);
        height: 312px;
        width: 312px;
    }
    .about-banner-container {
        display: flex;
        justify-content: center;
    }
    .about-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .about-two-col {
        display: block;
    }
}

.about-link {
    display: block;
    color: #3a3a3a;
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    text-align: center;
    font-size: 12px;
}